a { color: #5f5f5f; text-decoration: none; }
a:visited { color: #616161; }

.post-link { display: block; font-size:3rem; }

.post-list > li {
  border: 1px solid #999;
  box-shadow: 5px 5px 0 #99999982;
  padding: 0rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 4rem;
}

.post-list > li .post-meta {
  order: 2;
}

.post-list > li h3 {
  order: 1;
  margin-bottom: 0;
  border-bottom: 2px solid #dd114485;
  color: #000;
  font-size: 1.5rem;
}

.post-list > li .post-link {
  cursor: pointer;
}
